<router-outlet></router-outlet>
<!--<body id="container">-->
<!--<header class="layout">-->
  <!--<div id="header">-->
    <!--<div id="menu" class="collapse navbar-collapse">-->
      <!--<md-toolbar>-->
        <!--<span>-->
          <!--<button [routerLink]="['/home']" routerLinkActive="active" md-button>Home</button>-->
          <!--<button [routerLink]="['/login']" routerLinkActive="active" md-button>Login</button>-->
        <!--</span>-->
      <!--</md-toolbar>-->
    <!--</div>-->
  <!--</div>-->
<!--</header>-->
<!--<router-outlet>-->
<!--</router-outlet>-->
<!--<footer class="layout">-->
  <!--<div id="footer"></div>-->
<!--</footer>-->

<!--</body>-->
