<body id="container">

<header class="layout">
  <div id="header">
    <div id="menu" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active" style="width:80px">  <a [routerLink]="['/home']">Home</a></li>
        <li  style="width:100px;"><a href="#">Семинары</a></li>
        <li  style="width:110px"><a href="#">Консультация</a></li>
        <li  style="width:80px"><a href="#">Статьи</a></li>
        <li  style="width:100px"><a href="#subscribe">Рассылки</a></li>
        <li  style="width:60px"><a href="#">Блог</a></li>
        <li  style="width:100px"><a href="#contacts">Контакты</a></li>
      </ul>
    </div>
  </div>
</header>
<router-outlet>

</router-outlet>
<footer class="layout">
  <div id="footer"></div>
  <button md-raised-button>
    Angular Material works!
    <md-icon>done</md-icon>
  </button>
</footer>

</body>
